raspberrypi_setup/Node_RED_Flow_CAN_MQTT/flows.json
[
    {
        "id": "35d8445d.947c6c",
        "type": "tab",
        "label": "Flow_CAN_MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb81a825.b4d888",
        "type": "inject",
        "z": "35d8445d.947c6c",
        "name": "CAN5 LED's ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "504#0F",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e0c65699.ec8f78"
            ]
        ]
    },
    {
        "id": "652ddb0.25da124",
        "type": "inject",
        "z": "35d8445d.947c6c",
        "name": "CAN5  LED's OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "504#00",
        "payloadType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e0c65699.ec8f78"
            ]
        ]
    },
    {
        "id": "61981.3510467fc",
        "type": "function",
        "z": "35d8445d.947c6c",
        "name": "Get Temp. Node 5",
        "func": "var canid = msg.payload.canid;\n\n\nif(canid == 0x500)\n{\n    // msg.payload = \"0x\" + canid.toString(16);\n    var tempValue = ((msg.payload.data[0] & 0xF0) >> 4) *10;\n    tempValue += (msg.payload.data[0] & 0x0F);\n    tempValue += (((msg.payload.data[1] & 0xF0) >> 4) / 10.0);\n    tempValue += ((msg.payload.data[1] & 0x0F) / 100.0);\n    msg.payload = tempValue.toFixed(2);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "3d3c52e5e60478c4",
                "45a988c6abf71b9a"
            ]
        ]
    },
    {
        "id": "a2298dfb.7ab77",
        "type": "socketcan-out",
        "z": "35d8445d.947c6c",
        "name": "socketcan-in",
        "config": "81db7021.77921",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "61981.3510467fc"
            ]
        ]
    },
    {
        "id": "e0c65699.ec8f78",
        "type": "socketcan-in",
        "z": "35d8445d.947c6c",
        "name": "socketcan-in",
        "config": "81db7021.77921",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d3c52e5e60478c4",
        "type": "debug",
        "z": "35d8445d.947c6c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "45a988c6abf71b9a",
        "type": "mqtt out",
        "z": "35d8445d.947c6c",
        "name": "",
        "topic": "TestTopic",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0924e42f75c1ebc",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "81db7021.77921",
        "type": "socketcan-config",
        "interface": "can1"
    },
    {
        "id": "d0924e42f75c1ebc",
        "type": "mqtt-broker",
        "name": "Mosquitto MQTT Server",
        "broker": "192.168.0.100",
        "port": "8883",
        "tls": "5cced97c02485d7e",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5cced97c02485d7e",
        "type": "tls-config",
        "name": "",
        "cert": "/home/pi/MQTT_Client/TLS/Certs/client/client.crt",
        "key": "/home/pi/MQTT_Client/TLS/Certs/client/client.key",
        "ca": " /home/pi/MQTT_Client/TLS/Certs/ca/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "192.168.0.100",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]